<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>countryName</param-name>
        <param-value>VietNam</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>sample.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>sample.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>sample.servlet.searchServlet</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>Vietnamese</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>sendOTP</servlet-name>
        <servlet-class>sample.servlet.sendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactServlet</servlet-name>
        <servlet-class>sample.servlet.contactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>sample.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>sample.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOrdersServlet</servlet-name>
        <servlet-class>sample.servlet.viewOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderAgainServlet</servlet-name>
        <servlet-class>sample.servlet.orderAgainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeProfile</servlet-name>
        <servlet-class>sample.servlet.changeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changProfileServlet</servlet-name>
        <servlet-class>sample.servlet.changProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>sample.servlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartServlet</servlet-name>
        <servlet-class>sample.servlet.updateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <servlet-class>sample.servlet.saveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartServlet</servlet-name>
        <servlet-class>sample.servlet.deleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderByDate</servlet-name>
        <servlet-class>sample.servlet.SearchOrderByDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrdersByDate</servlet-name>
        <servlet-class>sample.servlet.searchOrdersByDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrdersByStatus</servlet-name>
        <servlet-class>sample.servlet.searchOrdersByStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlantServlet</servlet-name>
        <servlet-class>sample.servlet.getLaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountsServlet</servlet-name>
        <servlet-class>sample.servlet.manageAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccount</servlet-name>
        <servlet-class>sample.servlet.updateStatusAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <servlet-class>sample.servlet.updateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountServlet</servlet-name>
        <servlet-class>sample.servlet.searchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrdersServlet</servlet-name>
        <servlet-class>sample.servlet.manageOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managePlantsServlet</servlet-name>
        <servlet-class>sample.servlet.manageLaptopsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCateServlet</servlet-name>
        <servlet-class>sample.servlet.manageCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCategoriesServlet</servlet-name>
        <servlet-class>sample.servlet.manageCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>sample.servlet.cancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveUpdatePlantServlet</servlet-name>
        <servlet-class>sample.servlet.saveUpdatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPlantServlet</servlet-name>
        <servlet-class>sample.servlet.createPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveUpdateCategoryServlet</servlet-name>
        <servlet-class>sample.servlet.saveUpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCategoryServlet</servlet-name>
        <servlet-class>sample.servlet.createCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLaptopServlet</servlet-name>
        <servlet-class>sample.servlet.getLaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccountServlet</servlet-name>
        <servlet-class>sample.servlet.deleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchLaptopServlet</servlet-name>
        <servlet-class>sample.servlet.searchLaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAccountServlet</servlet-name>
        <servlet-class>sample.servlet.updateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccountServlet</servlet-name>
        <servlet-class>sample.servlet.createAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteLaptopServlet</servlet-name>
        <servlet-class>sample.servlet.deleteLaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createLaptopServlet</servlet-name>
        <servlet-class>sample.servlet.createLaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLaptopServlet</servlet-name>
        <servlet-class>sample.servlet.updateLaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageLaptopsServlet</servlet-name>
        <servlet-class>sample.servlet.manageLaptopsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCategories</servlet-name>
        <servlet-class>sample.servlet.manageCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCategoryServlet</servlet-name>
        <servlet-class>sample.servlet.deleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategoryServlet</servlet-name>
        <servlet-class>sample.servlet.updateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOutServlet</servlet-name>
        <servlet-class>sample.servlet.checkOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOTP</servlet-name>
        <url-pattern>/sendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactServlet</servlet-name>
        <url-pattern>/contactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOrdersServlet</servlet-name>
        <url-pattern>/viewOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderAgainServlet</servlet-name>
        <url-pattern>/orderAgainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeProfile</servlet-name>
        <url-pattern>/changeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changProfileServlet</servlet-name>
        <url-pattern>/changProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartServlet</servlet-name>
        <url-pattern>/updateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartServlet</servlet-name>
        <url-pattern>/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderByDate</servlet-name>
        <url-pattern>/SearchOrderByDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrdersByDate</servlet-name>
        <url-pattern>/searchOrdersByDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrdersByStatus</servlet-name>
        <url-pattern>/searchOrdersByStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlantServlet</servlet-name>
        <url-pattern>/getPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountsServlet</servlet-name>
        <url-pattern>/manageAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccount</servlet-name>
        <url-pattern>/updateStatusAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <url-pattern>/updateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountServlet</servlet-name>
        <url-pattern>/searchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrdersServlet</servlet-name>
        <url-pattern>/manageOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managePlantsServlet</servlet-name>
        <url-pattern>/managePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCateServlet</servlet-name>
        <url-pattern>/manageCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCategoriesServlet</servlet-name>
        <url-pattern>/manageCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveUpdatePlantServlet</servlet-name>
        <url-pattern>/saveUpdatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPlantServlet</servlet-name>
        <url-pattern>/createPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveUpdateCategoryServlet</servlet-name>
        <url-pattern>/saveUpdateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCategoryServlet</servlet-name>
        <url-pattern>/createCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLaptopServlet</servlet-name>
        <url-pattern>/getLaptopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccountServlet</servlet-name>
        <url-pattern>/deleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchLaptopServlet</servlet-name>
        <url-pattern>/searchLaptopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAccountServlet</servlet-name>
        <url-pattern>/updateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccountServlet</servlet-name>
        <url-pattern>/createAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteLaptopServlet</servlet-name>
        <url-pattern>/deleteLaptopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createLaptopServlet</servlet-name>
        <url-pattern>/createLaptopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLaptopServlet</servlet-name>
        <url-pattern>/updateLaptopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageLaptopsServlet</servlet-name>
        <url-pattern>/manageLaptopsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCategories</servlet-name>
        <url-pattern>/manageCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCategoryServlet</servlet-name>
        <url-pattern>/deleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCategoryServlet</servlet-name>
        <url-pattern>/updateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOutServlet</servlet-name>
        <url-pattern>/checkOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
